* text=auto

*.cpp text eol=lf
*.h text eol=lf
*.hpp text eol=lf
*.c text eol=lf
*.lua text eol=lf
*.cmake text eol=lf
CMakeLists.txt text eol=lf
*.json text eol=lf
*.sh text eol=lf

*.bat text eol=crlf
*.cmd text eol=crlf

*.dll binary
*.so binary
*.zip binary
*.png binary
*.jpg binary